/* fonts */
@import url('https://fonts.googleapis.com/css?family=Overpass');
@import url('https://fonts.googleapis.com/css?family=Arimo');

/* ===============================================================
	CSS 
	============================================================== */

/* header and footer */

h1, footer {
	text-align: left;
	padding: 1em;
	font-weight: bold;
	font-color: #ccc;
	border: 1px solid blue;
}

h1 {
	margin-bottom: -1em;
	font-family: "Overpass", sans-serif;
}

footer {
	font-family: 'Arimo', sans-serif;
}

/* nav bar links */

nav {
	float: left;
	max-width: 200px;
	margin: 0;
	padding: 2em;
}

nav ul {
	list-style-type: none;
	padding: 0;
	font-family: 'Arimo', sans-serif;
	font-weight: bold;
}

nav ul a{
	text-decoration: none;
}

a.nav-link:link{
	color: #000000;
	text-decoration: none;
}

a.nav-link:visited{
	color: #000000;
	text-decoration: none;
}

a.nav-link:hover{
	color: #fb3f00;
	text-decoration: none;
}

nav a {
	padding: .15em;
	text-decoration: none;
}

li.tagline {
	font-family: 'Arimo', sans-serif;
	line-height: 150%;
}

/* layout */

div.container {
	width: 100%;
	border: 1px solid blue;
}

p {
	margin-left: 170px;
	padding: 1em;
	overflow: hidden;
} 

/* pictures */

figure {
    display: inline-block;
    margin: 20px; 
}

figure img {
    vertical-align: top;
    margin-bottom: 20px;
}
figure figcaption {
    text-align: center;
    font-family: "Overpass", sans-serif;
}
