/* fonts */
@import url('https://fonts.googleapis.com/css?family=Overpass');
@import url('https://fonts.googleapis.com/css?family=Arimo');
@import url('https://fonts.googleapis.com/css?family=Cabin');

/* ===============================================================
	CSS 
	============================================================== */

/* header and footer */

h1, footer {
	text-align: left;
	font-weight: bold;
	font-color: #ccc;
}

h1 {
	font-family: "Cabin", sans-serif;
	font-size: 2.5em;
}

a.amytitle-link:link{
	color: #000000;
	text-decoration: none;
}

a.amytitle-link:visited{
	color: #000000;
	text-decoration: none;
}

a.amytitle-link:hover{
	color: #A9A9A9;
	text-decoration: none;
}

footer {
	font-family: 'Arimo', sans-serif;
	padding: 1em;
}

/* nav bar links */

nav {
	float: left;
	max-width: 200px;
	padding-left: 3em;
}

nav ul {
	list-style-type: none;
	padding: 0;
	font-family: 'Arimo', sans-serif;
	font-weight: bold;
}

nav ul a{
	text-decoration: none;
}

a.about-link:link{
	color: #000000;
	text-decoration: none;
}

a.about-link:visited{
	color: #000000;
	text-decoration: none;
}

a.about-link:hover{
	color: #48D1CC;
	text-decoration: none;
}

a.blog-link:link{
	color: #000000;
	text-decoration: none;
}

a.blog-link:visited{
	color: #000000;
	text-decoration: none;
}

a.blog-link:hover{
	color: #7B68EE;
	text-decoration: none;
}

a.etsy-link:link{
	color: #000000;
	text-decoration: none;
}

a.etsy-link:visited{
	color: #000000;
	text-decoration: none;
}

a.etsy-link:hover{
	color: #C71585;
	text-decoration: none;
}

nav a {
	padding: .15em;
	text-decoration: none;
}

li.tagline {
	font-family: 'Arimo', sans-serif;
	line-height: 150%;
}

/* layout */

div.container {
	width: 100%;
}

/*
p {
	margin-left: 170px;
	padding: 1em;
	border: 1px solid red;
} */

/* pictures and projects */

figure {
    display: inline-block;
    margin: 20px; 
    margin-top: 40px;
    padding: 1em;
}

figure img {
    vertical-align: top;
    margin-bottom: 20px;
}
figure figcaption {
    text-align: center;
    font-family: 'Arimo', sans-serif;
}

.amypic {
	font-family: 'Arimo', sans-serif;
	font-weight: bold;
}

a.fig-link:link{
	color: #000000;
	text-decoration: none;
}

a.fig-link:visited{
	color: #000000;
	text-decoration: none;
}

a.fig-link:hover{
	color: #A9A9A9;
	text-decoration: none;
}

