@import url('https://fonts.googleapis.com/css?family=PT+Serif');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Mukta+Vaani');

/* 
MAKE LEGEND IN ILLUSTRATOR
MAKE SOURCES NOT AS DARK
APPEND TEXT TO RIGHT THAT ACTS ON LOAD 

inspiration -- http://nbremer.github.io/urbanization/

http://bl.ocks.org/Matthew-Weber/5645518 -- good line hovers 
http://bl.ocks.org/mbostock/8033015 -- bostock's voronoi example 
http://arnicas.github.io/interactive-vis-course/Week7/multiple_lines_voronoi.html -- best tutorial lady explains it here: http://arnicas.github.io/interactive-vis-course/Week7/#usability-advanced-maneuvers-lines-and-scatters-with-voronoi
http://plnkr.co/edit/iCozxKYF1npTiRd5AjZC?p=preview -- voronoi 


http://arnicas.github.io/interactive-vis-course/Week7/multiple_lines_labels_hover.html -- HOVERING OVER LINES

1. figure out layout for tooltip information
2. click on "blue line" to get continents + groups
( show hide elements http://bl.ocks.org/d3noob/5d621a60e2d1d02086bf 


  /* bar chart example here: http://bl.ocks.org/mstanaland/6100713 
  https://bl.ocks.org/mbostock/3886208 

  brushing http://duspviz.mit.edu/d3-workshop/transitions-animation/

  http://www.pewresearch.org/fact-tank/2017/01/30/key-facts-about-refugees-to-the-u-s/ -- same chart pew */

/* LAYOUT ================================================================================ */

body {
  font: 12px Arial;
  padding: 20px;
}

#left {
  width: 13%;
  float: left;
}

#middle {
  width: 65%;
  float: left;
}

#right {
  width: 17%;
  float: left;
}

#all {
  width: 100%;
}

.contribution {
    padding-left: 60px;
}

/* NAV ================================================================================ */

li {
  list-style: none;
  /* display: inline-block; */
  color: dimgrey;
}

#opac_li {
  opacity: 0.3;
}

.buttons {
  display: inline;
}

ul {
  /* padding-top: 120px; */
}

#click {
  font-weight: bold;
}

#container {
  margin: 20px;
  width: 120px;
  height: 8px;
  text-align: center;
  padding-left: 20px;
}

/* TEXT ================================================================================ */

.top {
  padding-top: 10px;
  display: inline-block;
}

#title {
  /* font-family: 'PT Serif', serif; */
  padding-left: 30px;
  font-size: 28px;
  font-family: 'Mukta Vaani', sans-serif;
  color: #d25c4d;  
  /* text-shadow: 1px 1px grey; */
}

#subtitle {
  padding-left: 30px;
  font-size: 16px;
  font-family: 'Mukta Vaani', sans-serif;
  color: grey;  
}

#source {
  font-size: 12px;
  color: grey;
  line-height: 18px;
  font-family: 'Lato', sans-serif;
  padding-left: 23px;
}

#title_text {
  font-size: 23px;
  font-family: 'Mukta Vaani', sans-serif;
  padding-left: 135px;
  color: #1a1a1a;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-iteration-count: 1;
}

#title_text2 {
  font-size: 23px;
  font-family: 'Mukta Vaani', sans-serif;
  padding-left: 135px;
  color: #1a1a1a;
  animation-duration: 4s;
  animation-delay: 4s;
  animation-iteration-count: 1;
}

#start {
  font-size: 14px;
  font-family: 'Mukta Vaani', sans-serif;
  padding-left: 800px;
  color: #1a1a1a;
  animation-duration: 4s;
  animation-delay: 6s;
  animation-iteration-count: 1;
}

/* CHART ================================================================================ */

svg {
    margin: 0px auto;
    display: inline-block;
    padding-top: 20px;
}

path { 
   /* stroke: steelblue; */
    stroke-width: 1.5;
    fill: none;
}

#chart {
  float: left;
  position: relative;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-iteration-count: 1;
}

#bar {
  float: left;
  animation-duration: 5s;
  animation-delay: 0s;
  animation-iteration-count: 1;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    opacity: 0.2;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.tick text{
  font-size: 11px;
  font-weight: normal;
}

.tick line{
  opacity: 0.3;
/* stroke-dasharray: 4,4;*/
}

div.popover { 
    display: inline-block;
    text-align: left;     
    width: 240px;          
    padding: 10px;  
    font: 11px sans-serif;
    line-height: 15px;
    background: lightgrey; 
    color: black;
    border: 0px;    
    border-radius: 8px;     
    pointer-events: all;      
}

path.domain {
  stroke: none;
}
 
.y .tick line {
  stroke: #ddd;
}

/* BAR CHART TEXT ================================================================================ */

.leg {
  animation-duration: 3s;
  animation-delay: 3s;
  animation-iteration-count: 1;
  font-size: 12px;
  line-height: 20px;
  font-family: "Mukta", sans-serif;
  color: black;
}

.leg2 {
  animation-duration: 3s;
  animation-delay: 4.5s;
  animation-iteration-count: 1;
  font-size: 12px;
  line-height: 20px;
  font-family: "Mukta", sans-serif;
  color: black;
}

.first {
  color: dimgrey;
  animation-duration: 3s;
  animation-delay: 5.5s;
  animation-iteration-count: 1;
}

.second {
  color: dimgrey;
  animation-duration: 3s;
  animation-delay: 6s;
  animation-iteration-count: 1;
}

.third {
  color: dimgrey;
  animation-duration: 3s;
  animation-delay: 6.5s;
  animation-iteration-count: 1;
}

.forth {
  color: dimgrey;
  animation-duration: 3s;
  animation-delay: 7s;
  animation-iteration-count: 1;
}

.fifth {
  color: dimgrey;
  animation-duration: 3s;
  animation-delay: 7.5s;
  animation-iteration-count: 1;
}

.popover-content {
  padding: 10px;
  line-height: 15px;
}


/* LINKS ETC ================================================================================ */

a:link {
    text-decoration: none;
    color: lightgrey;
}

a:visited {
    text-decoration: none;
    color: grey;
}

a:hover {
    text-decoration: none;
    color: black;
}

a:active {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

img.background {
  position: absolute;
  z-index: -1;
}

#info {
  display: inline-block;
}

#good {
  display: inline-block;
}